<div class="container">
  <h2> {{ title }}</h2>
  <form class="form-group" [formGroup]="demoFormControl" (ngSubmit)="onSubmit()">
    <br>
    <label class="text">Project Name</label>
    <input type="text" class="form-control" placeholder="Project Name" formControlName="projectName">
    <span class="help-block" *ngIf="demoFormControl.get('projectName').invalid && demoFormControl.get('projectName').touched && !demoFormControl.get('projectName').hasError('invalidProjectName')">Enter Username</span>
    <span class="help-block" *ngIf="demoFormControl.get('projectName').hasError('invalidProjectName')">This Name is Forbidden</span>
    <br>
    <label class="text">E-mail</label>
    <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
    <span class="help-block" *ngIf="!demoFormControl.get('email').valid && demoFormControl.get('email').touched">Enter Valid E-mail Address</span>
    <br>
    <label class="text">Project Status</label>
    <select formArrayName="projectStatus" class="form-control">
      <option *ngFor="let item of statusList" [value]="item">{{item}}</option>
    </select>
    <br>
    <button class="btn btn-lg btn-info" type="submit">Send</button>
  </form>
</div>
